<!DOCTYPE html>
<html>
  <head>
    <title>Liste des utilisateurs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Liste des utilisateurs</h1>
    <form action="/add" method="post">
        <label for="id">id</label>
        <input type="text" name="id" id="id">
        <label for="name">login</label>
        <input type="text" name="name" id="name">
        <label for="pw">password</label>
        <input type="text" name="pw" id="pw">
        <button type="submit">Ajouter</button>
    </form>
    
  </body>
  
</html>

